
#artist_Jochen_Miller {
	background-image:url(images/miller_bg.jpg);
}


#artist_profile_ayelle {
	background-image: url(images/artist_profile_ayelle_bg.jpg);
}

#zoo_profile{
	background-image:url(images/EZoo2014_bg.jpeg);
}
#issue_01 {
	
	background-image:url(Magazine/Issue%2001/images/cover_page.jpg);
}

#the_edm_pandemic {
	background-image: url(images/the_edm_pandemic_bg.jpg);
}

#rage_festival_kicks_off_2015_with_limited_pre_registration_passports {
	background-image: url(images/rage_festival_kicks_off_2015_with_limited_pre_registration_passports_bg.jpg);
}

#audi_berlinale_lounge_hot_spot_for_celebrities_fans_and_auto_experts {
	background-image: url(images/audi_berlinale_lounge_hot_spot_for_celebrities_fans_and_auto_experts_bg.jpg);
}

#grey_goose_vodka_and_soho_houseberlin_celebrate_queen_of_the_desert {
	background-image: url(images/grey_goose_vodka_and_soho_houseberlin_celebrate_queen_of_the_desert_bg.jpg);
}

#warner_music_group_host_annual_grammy_celebration {
	background-image: url(images/warner_music_group_host_annual_grammy_celebration_bg.jpg);
}

#my_insights_dineo_moeketsi {
	background-image: url(images/my_insights_dineo_moeketsi.jpg);
}

#black_coffee_ultra_sa_interview {
	background-image: url(images/black_coffee_ultra_sa_interview.jpg);
}

#goldfish_ultra_sa_interview {
	background-image: url(images/goldfish_ultra_sa_interview.jpg);
}

#blasterjaxx_ultra_sa_interview {
	background-image: url(images/blasterjaxx_ultra_sa_interview.jpg);
}

#don_madge {
	background-image: url(images/don_madge.jpg);
}

#a_disease_unlike_any_other {
	background-image: url(images/a_disease_unlike_any_other.jpg);
}

#august_alsina_in_sa {
	background-image: url(images/august_alsina_in_sa.jpg);
}

#ballantines_and_boiler_room_partner {
	background-image: url(images/ballantines_and_boiler_room_partner.jpg);
}

#gangs_of_ballet_twitter_video_primier {
	background-image: url(images/gangs_of_ballet_twitter_video_primier.jpg);
}

